@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #c56ef7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #9b29c9;
}

/* Navigation bar CSS */
nav{
  position: fixed;
 
  width: 100%;
  padding: 20px 0;
 
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #9b29c9;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #9b29c9;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #9b29c9;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #9b29c9;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}



nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}
/*societies page styles*/
section{
    padding-top: 40px;
    /*background-image: */
  }
  section .content{
    width: 90%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }
  .youth .youth-details .svp .svp-details .lgm .lgm-details .sh .sh-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section .title{
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
  }
  section .title span{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  section .title span::before,
  section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #9b29c9;
    left: 0;
    bottom: 0;
  }
  section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  
 
  .youth-details .right .svp-details .right .lgm-details .right .sh-details .right{
      margin-left: 50px;
  
    width: 100%;
  }
  
  .youth-details .right p .svp-details .right p .lgm-details .right p .sh-details .right p{
    text-align: justify;
    color: #0E2431;
  }
  
  /* Scroll TO Top Button CSS */
  .scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background:#9b29c9;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
  }

  *footer*/
.col_white_amrc { color:#FFF;}
footer { 
    width:100%; 
    background-color:black;
    min-height:250px; 
    padding:10px 0px;}

.pt2 { 
    padding-top:40px ; 
    margin-bottom:20px ;}

footer p { 
    font-size:13px; 
    color:#CCC; 
    padding-bottom:0px; 
    margin-bottom:8px;}

.mb10 { padding-bottom:15px ;
width: 15cm;}

.fleft { float:right;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {
    margin:0px; 
    list-style-type:none; 
    padding:0px;
    color: rgb(185, 174, 174);
font-size: 12.9px;}
    .footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}




.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}